# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
astropy=1.0=np19py34_0
ipython-notebook=2.4.1=py34_0
matplotlib=1.4.3=np19py34_0
numpy=1.9.1=py34_0
pip=6.0.8=py34_0
python=3.4.2=0
scipy=0.15.1=np19py34_0
seaborn=0.5.1=np19py34_0
setuptools=12.2=py34_0
six=1.9.0=py34_0
